@import "src/styles/variables";
@import "src/styles/global";
@import "src/styles/mixins";

#Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 168px;
  z-index: 99;
  transition: all 0.2s ease-in-out;
  &.sticky {
    background: $darkpurple
  }
}

.header-container {
  height: 100%;
  flex-direction: row;
  display: flex;
  width: 100%;
  align-items: center;
  .logo {
    width: 100px;
    max-height: 65px;
    cursor: pointer;
    img {
      height: 65px;
    }
  }
  .link-list {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      color: $main;
      transition: all 0.2s ease-in-out;
      margin-left: 40px;
      font-size: 14px;
      font-weight: normal;
      cursor: pointer;
      color: $secondary;
      &:first-child {
        color: $main;
        font-weight: 600;
        &:hover {
          color: darken($secondary, 10%);
        }
      }
      svg,
      i {
        margin-left: 12px;
      }
      a {
        transition: all 0.2s ease-in-out;
        color: $main;
      }
      &:hover {
        color: lighten($secondary, 10%);
      }
    }
  }

  @include until($desktop) {
    padding: 0 25px;
  }
}

.mobile-menu {
  position: absolute;
  right: 0;
  top: 120px;
  width: 189px;
  min-height: 190px;
  background: linear-gradient(120.33deg, #2c3168 -83.67%, #0e1130 151.81%);
  border-radius: 18px;
  z-index: 99;
  box-shadow: 0 0 2px 2px rgba($black, 0.2);
 
  @include until($desktop) {
  width: 100%;
  position: static;
  margin-top: -20px;
  border-radius: 0;
  }

  li {
    transition: all 0.3s ease-in-out;
    display: flex;
    font-size: 1.1rem;
    line-height: 60px;
    border-bottom: 1px solid rgba($blue, 0.1);
    flex-direction: row;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 80%;
    height: 50px;
    padding: 20px;
    letter-spacing: -0.01em;
    border: none;
    color: $secondary;
    cursor: pointer;

    &:first-child {
      margin-top: 20px;
    }

    &:hover {
      color: $white;
      background: $darkblue;
    }

    @include until($desktop) {
      font-size: 20px;
      }

  }

  .is-hidden-desktop {
    &:last-child {
      margin-bottom: 20px;
    }
  }
}
