@import 'src/styles/variables';
@import 'src/styles/mixins';

h1 {
  color: $white;
  font-size: 2rem;
}

.slide {
  height: calc(100vh - 80px);
  max-height: 100%;
  padding: 1rem;
  .slide-inner {
    height: 100%;
    border-radius: 16px;
    background: $white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .slide-left {
      width: 420px;
      max-width: 100%;
      background: $white;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 2rem;
      * {
        color: $darkblue;
      }
      h2 {
        font-weight: bold;
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 1rem;
        display: block;
        font-size: .925rem;
      }
      small {
        font-size: .8;
        opacity: .75;
      }
    }
    .slide-right {
      flex-grow: 1;
      width: 100%;
      min-height: 100%;
      background: #E7EEF4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 4rem;
      padding-right: 4rem;
      h3 {
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: .5rem;
        color: $black;
      }
      p {
        font-size: 1.25rem;
        margin-bottom: 2rem;
        color: $black;
      }
      img {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  @include until($desktop) {
    height: auto;
    .slide-inner {
      display: block;
      .slide-left, .slide-right {
        display: block;
        padding: 1rem;
      }
    }
  }
}

.ski-lift {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 2rem;
  border-radius: 16px;
}
