@import 'src/styles/mixins';

.container, .columns {
  width: 100%;
  margin: auto;
}

.columns:last-child {
  margin: auto;
}

.columns .column.np {
  padding: 0;
}

.beta {
  display: block;
  font-weight: bold;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  font-size: .8;
  color: rgba(255,255,255,.35);
}

.text-link {
  font-weight: bold;
  color: $white;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-size: 1.25rem;
  &:hover {
    color: $blue;
  }
  &.blue {
    color: $blue;
    &:hover {
      color: $blue;
      filter: brightness(.8);
    }
  }
}
