@import 'src/styles/mixins';

.container, .columns {
  width: 100%;
  margin: auto;
}

.columns:last-child {
  margin: auto;
}

.columns .column.np {
  padding: 0;
}

.beta {
  display: block;
  padding: 1rem;
  border: 2px solid $purple;
  border-radius: 12px;
  font-weight: bold;
  color: $purple;
  margin-top: 2rem;
  @include until($fullhd) {
    margin: auto;
    margin-top: 2rem;
  }
}

.text-link {
  font-weight: bold;
  color: $white;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-size: 1.25rem;
  &:hover {
    color: $blue;
  }
  &.blue {
    color: $blue;
    &:hover {
      color: $blue;
      filter: brightness(.8);
    }
  }
}
