
.container, .columns {
  width: 100%;
  margin: auto;
}

.columns:last-child {
  margin: auto;
}

.columns .column.np {
  padding: 0;
}

.text-link {
  font-weight: bold;
  color: $white;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-size: 1.25rem;
  &:hover {
    color: $blue;
  }
  &.blue {
    color: $blue;
    &:hover {
      color: $blue;
      filter: brightness(.8);
    }
  }
}
