// Set colors
$blue: #6752F7;
$darkblue: #111;
$main: #FDFAFF;
$secondary: #B3A8FF;
$darkbg: #161A40;
$lightpurple: #a7b1f4;
// Bulma's global variables
$family-sans-serif: 'Poppins', sans-serif;
$white-opaq: rgba(255,255,255,.15);
$primary: $blue;
$link: $blue;
$white: #fff;
$black: #000;
$half-white: rgba(255,255,255,.5);

// Update Bulma's variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$border-radius: 12px;

$darkpurple: #12041d;
$purple: #C571F4;

.primary-color {
  color: $blue;
}

.primary-bg {
  background: $blue;
}

.darkblue-color {
  color: $darkblue;
}

.darkblue-bg {
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url('./background/ornament1.png'), url('./background/ornament2.png');
  background-position: left top, left top;
  background-repeat: no-repeat;
  background-color: linear-gradient(165.31deg, #2C3168 -6.28%, #0E1130 177.69%)
}
