@import "src/styles/variables";
@import "src/styles/mixins";

.columns.fullhd-columns {
  display: flex;
}

.hero {
  height: 500px;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  .hero-content {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    img {
      width: 400px;
      max-width: 100%;
    }
    h1 {
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: $white;
      font-size: 2.25rem;
    }
    @media screen and (max-width: 1024px) {
      margin-left: 0px;
      align-items: center;
      width: 100%;
    }
  }

  .socials-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    li {
      color: $white;
      font-size: 3rem;
      transition: color 0.2s ease-in-out;
      cursor: pointer;
      * {
        transition: color 0.2s ease-in-out;
        color: $white;
      }
      &:hover {
        color: $blue;
        * {
          color: $blue;
        }
      }
    }
  }

  .button-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .button {
      margin-right: 3rem;
    }
    .text-link {
      font-size: 1.1rem;
    }
  }
}

.bottom-list {
  flex-wrap: wrap;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  li {
    margin-left: 1rem;
    margin-right: 1rem;
    background: #2e3273;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 550px) {
      margin: 10px 1.5rem;
    }
    img {
      width: 60px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
      &.white-bg {
        border: 3px solid $white;
        border-radius: 100%;
        background: $white;
      }
      &:hover {
        opacity: 0.75;
      }
    }
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
      img {
        opacity: 0.5;
      }
    }
  }
}
